/* ! ////////// GLOBAL RESETS \\\\\\\\\\ ! */
* {
    box-sizing: border-box;
    transition-duration: 0.3;
}

*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
}

/* section {
    background-color: blue;
} */

/* article {
    background-color: red;
} */
/* ! END GLOBAL RESETS ! */

/* ****** HEADER STYLING ****** */

/* ? LOGO STYLING ? */
#logoDiv {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#emailLogo {
    height: 75px;
}
/* ? END LOGO STYLING ? */

/* ****** END HEADER STYLING ***** */

/* ***** BODY STYLING ***** */
section {
    margin: 50px;
    background-color: #f0f0f0;
}

article {
    padding: 25px;
}

#greeting {
    font-size: 24px;
    font-family: "Raleway";
    padding-bottom: 20px;
}

p {
    font-family: "Roboto Slab";
    line-height: 2;
}

#cheers {
    padding-top: 20px;
}

#closing {
    font-size: 18px;
    font-family: "Raleway";
    padding-top: 10px;
}

#resetBtn {
    display: flex;
    justify-content: center;
}

/* ? BUTTON STYLING ***** ? */
button {
    height: 50px;
    width: 250px;
    border-radius: 2px;
    font-family: "Raleway";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #06b7f9;
    color: #fcfcfc;
}

button:hover {
    background-color: #fcfcfc;
    color: #06b7f9;
    border: 1px solid #06b7f9;
}
/* ? END BUTTON STYLING ? */

/* ***** END BODY STYLING ***** */

/* ***** FOOTER STYLING ***** */
#copyrightContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footerContent {
    font-size: 14px;
    line-height: 1;
}
/* ***** END FOOTER STYLING ***** */
