* {
    box-sizing: border-box;
    animation-duration: 0.3s;
}

*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
}

/* RESPONSIVE SMARTPHONE */

/* HEADER */

header {
    height: 640px;
    resize: both;
    resize: none;
}
.backgrounddiv {
    background-size: cover;
    background-position: 50% 50%;
}
.separator {
    border: 1px solid #ffffff;
    opacity: 0.5;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error {
    display: block;
    width: 300px;
    color: red;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
.success {
    display: block;\
    width: 300px;
    color: green;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.truckinfo {
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    color: white;
}

.truckinfo h1 {
    font-family: "Raleway", sans-serif;
    font-size: 46px;
    /* These text shadow help us to put border color to the each letter of the text */
    text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black,
        2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
}

.reviewDiv {
    display: flex;
}

.reviewNbr {
    color: #ffffff;
    font-size: 12px;
    padding-top: 13px;
    padding-left: 8px;
}

.favstar {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto Slab", serif;
    padding-top: 10px;
}

.truckcontact {
    font-family: "Roboto Slab", serif;
    display: flex;
    justify-content: space-around;
    /* These text shadow help us to put border color to the each letter of the text */
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
        0.5px 0.5px black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black;
}

.contactlist {
    text-align: left;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contactnumber {
    font-size: 18px;
    display: flex;
    padding-bottom: 10px;
}

.phoneInfo {
    padding-top: 30px;
}

.contactweb {
    font-size: 18px;
    display: flex;
}

.webInfo {
    padding-top: 5px;
    padding-left: 5px;
}

.truckposition {
    font-size: 12px;
}

.hourinfo {
    font-family: "Roboto Slab", serif;
}

.scheduleTable {
    /* These text shadow help us to put border color to the each letter of the text */
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black,
        0.5px 0.5px black, -0.5px -0.5px 0 black, 0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black;
    margin: 0 auto;
}

.daySchedule {
    font-family: "Raleway", sans-serif;
    padding: 0 7px 0 7px;
}

.starlogo {
    height: 38.12px;
}

.heartlogo {
    height: 38.12px;
}

.positionImg {
    height: 38.11px;
}

.scrollImg {
    height: 29.31px;
}

.phoneicon {
    height: 45px;
    margin-top: 20px;
}

.webicon {
    height: 40px;
}

/* MAIN */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.itemCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 270px;
    height: 350px;
    margin: 0 10px 70px 10px;
}

/* On mouse-over, add a deeper shadow */
.itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.itemImg {
    height: 200px;
    width: 3rem;
}

.itemNumber {
    text-align: center;
    width: 50px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.plusBtn {
    background-color: #06b7f9;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.2rem;
}

.minusBtn {
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.2rem;
}

.itemform {
    display: flex;
    justify-content: space-between;
}

.iteminfo {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
}

.itemseparator {
    border: 0.5px solid black;
}

.itemName {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 5px;
}

.itemPrice {
    font-size: 28px;
}

.itemform {
    padding-top: 20px;
}

.plusMinus {
    display: flex;
}

.plusMinus p {
    padding-top: 9px;
}

.addToBag {
    background-color: #06b7f9;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}

.background {
    padding: 60px 0 0 0;
}

/* REVIEW */

.reviewBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.scrollBoxReview {
    margin: 20px;
}

h1,
h3,
.userNameInBox,
input {
    font-family: "Raleway", sans-serif;
}

.reviewList {
    height: 300px;
    line-height: 3vh;
    overflow: scroll;
    overflow-x: hidden;
}

.formReview {
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    scrollbar-base-color: gray;
    border: 1px solid gainsboro;
}

#divStar {
    width: 300px;
    display: flex;
    justify-content: center;
}

.userInfo {
    display: flex;
}

.userInfo p {
    padding-left: 5px;
}

.ratingStar {
    width: 16px;
    height: 16px;
}

.userNameInBox {
    font-weight: bold;
}

.userReview {
    font-family: "Roboto Slab", serif;
}

.dateReview {
    font-family: "Roboto Slab", serif;
    font-size: 10px;
    padding-top: 2px;
}

.review {
    margin: 20px;
}

.formbox {
    display: flex;
    flex-direction: column;
    /* source for the box shadow : https://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px -1px 29px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px -1px 29px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px -1px 29px 5px rgba(0, 0, 0, 0.12);
    width: 400px;
    height: 300px;
}

.reviewForm {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 270px;
}

.reviewForm h3 {
    font-size: 13px;
    width: 150px;
}

.reviewForm textarea {
    border: 1px solid black;
    resize: none;
    width: 300px;
}

.reviewForm input {
    width: 300px;
    border: none;
    background-color: #06b7f9;
    color: white;
}

.ratingReview {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.rateStarLogo {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
}

.bottomComment {
    margin: auto;
}

.ratingReview input {
    width: 8rem;
    height: 1.7rem;
    background-color: #06b7f9;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 15px;
}

@media only screen and (min-width: 1024px) {
    .reviewList {
        width: 420px;
    }
    .formReview {
        width: 400px;
    }
    header {
        height: 800px;
    }

    .backgrounddiv {
        width: 100%;
    }

    .separator {
        width: 820px;
    }

    .truckinfo h1 {
        font-size: 132px;
    }

    .reviewDiv {
        width: 100px;
        padding-bottom: 15px;
    }

    .contactnumber {
        width: 300px;
        padding-left: 60px;
    }

    .phoneInfo {
        font-size: 25px;
    }

    .webInfo {
        font-size: 25px;
    }

    .contactweb {
        padding-left: 60px;
        padding-bottom: 20px;
    }

    .positionInfo {
        font-size: 25px;
    }

    .truckposition {
        padding-right: 50px;
    }
    .background {
        padding: 0 0 0 125px;
    }

    /* REVIEW */
    .reviewBox {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }
}
