.bg-image {
    background-image: url('/assets/IMGS/paula-vermeulen-URjZkhqsuBk-unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 640px;
    color: black;
    resize: both;
}

.bg-text {
    margin-top: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    text-align: center;
    width: 350px;
}
.bg-text h1 {
    font-size: 58px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
.bg-text p {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    padding: 14px;
    padding-bottom: 20px;
}

.search {
    background: transparent;
    border-radius: 20px;
    border: solid 1px white;
    width: 300px;
    height: 35px;
}
.submit-location {
    margin-left: -100px;
    width: 100px;
    height: 35px;
    border: #fff solid 1px;
    border-radius: 20px;
    background-color: white;
    color: #b86924;
    box-shadow: 1px 10px 19px #000000;
}
.turn-on-location {
    background-color: #fff;
    color: #b86924;
    border-radius: 20px;
    height: 35px;
    width: 300px;
    box-shadow: 1px 10px 19px #000000;
    margin-bottom: 20px;
}
.use-location-link {
    display: none;
}
::placeholder {
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
}

.map-container {
    width: 100%;
}
#map {
    padding-right: 50px;
    height: 850px;
    width: 100%;
}
.truck-img {
    height: 20px;
}

/* Favorite icon */
.heartlogo {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px;
}

/* the filter start here */
.container {
    padding: 0px;
}
.filter-container {
    display: inherit;
    z-index: 200;
    height: 80px;
    margin: 0 auto;
    align-content: center;
    width: 100%;
    padding: 20px 0;
    position: sticky;
    top: 3rem;
}
.filterbar-container {
    display: none;
}
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}
.dropdown-menu li a img {
    width: 100px;
}

#filter-container .dropdown-menu {
    transform: none !important ;
    text-align: center;
    position: relative;
    top: 40px !important;
    left: inherit !important;
    min-width: 380px;
    width: 100%;
    margin: auto;
}
.filter-button{
    background: transparent;
    border-radius: 2px;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.custome-drpdown{
    display: none;
    position: absolute;
    background-color: white;
    transform: none !important;
    text-align: center;
    position: relative;
    top: 40px !important;
    left: inherit !important;
    min-width: 374PX;
    width: 100%;
    margin: auto;
    border-radius: 3px;
    grid-template-columns: auto auto auto;
    list-style: none;
    will-change: transform;
}
.custome-drpdown li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    margin: 5px;
    text-decoration: none;
}
.filter-buttom {
    text-align: center;
    margin: 0px;
    width: 100%;
}
.filterbar {
    height: 50px;
}


  /* start with the careds css */
  .cards-container{
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper {
    width: 281px;
    height: 350px;
    background: white;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
    transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
    transition: box-shadow 0.5s, transform 0.5s;
    transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
    -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 40px 20px 74px rgba(0, 0, 0, 0.2);
  }

.wrapper:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .container {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.wrapper .container .top {
    height: 60%;
    width: 100%;
}

.wrapper .container .bottom {
    width: 200%;
    height: 40%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper .container .bottom.clicked {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
}

.wrapper .container .bottom p {
    margin: 0;
    padding: 0;
}

.wrapper .container .bottom .left {
    height: 100%;
    width: 65%;
    background: white;
    position: relative;
    float: left;
    /* border:solid black 1px;
    border-radius: 10px; */
    width: 293px;
}

.wrapper .container .bottom .left .details {
    padding-left: 15px;
    font-size: 10px;
    float: left;
    width: calc(100% - 40px);
}

.wrapper .container .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
}

.wrapper .container .bottom .left .buy i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper .container .bottom .left .buy:hover {
    background: #a6cdde;
}

.wrapper .container .bottom .left .buy:hover i {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    color: #00394b;
}

.wrapper .inside {
    z-index: 9;
    background: black;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    -webkit-transition: all 0.5s, border-radius 2s, top 1s;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}

.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
}

.wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
}

.wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}

.wrapper .inside:hover .contents {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
    transition: opacity 0.2s, -webkit-transform 0.8s;
    transition: opacity 0.2s, transform 0.8s;
    transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}

.wrapper .inside .contents table {
    text-align: left;
    width: 100%;
}

.wrapper .inside .contents h1,
.wrapper .inside .contents p,
.wrapper .inside .contents table {
    color: white;
}

.wrapper .inside .contents p {
    font-size: 13px;
}

h1 {
    font-size: 24px;
}
hr {
    border: 0;
    clear: both;
    display: block;
    width: 110%;
    background-color: black;
    height: 1px;
    margin-bottom: 20px;
  }
  .stars-lication{
      width: 250px;
      display: flex;
      justify-content: space-between;
  }
  .card-category{
      padding: 5px 30px;
      color: white;
      background-color: #06B7F9;
      border-radius: 2px;
  }
  .category-€{
      display: flex;
      justify-content: space-between;
      width: 250px;
  }
  .background {
    padding: 60px 0 0 0;
  }
.trucks-img{
  width: 318px;
  height: 216px;
}
.top img{
  width: 318px;
  height: 216px;
}


@media only screen and (min-width: 1024px) {
    .bg-image {
        background-image: url('/assets/IMGS/paula-vermeulen-URjZkhqsuBk-unsplash-blur.jpg');
        height: 100vh;
    }
    .bg-text {
        padding-left: 125px;
        width: 70%;
        top: 50%;
    }
    .bg-text h1 {
        font-size: 100px;
        padding-bottom: 50px;
    }
    .bg-text p {
        font-size: 30px;
        padding: 40px;
    }
    .search {
        background: transparent;
        background-size: 50px;
        border-radius: 50px;
        background-image: url('../assets/ICONS/icons8-search.svg');
        background-repeat: no-repeat;
        background-position: 98%;
        font-size: 36px;
        border: solid 2px white;
        min-width: 439px;
        max-width: 750px;
        width: 65%;
        height: 75px;
    }

    .search:focus {
        color: white;
    }
    .submit-location {
        margin-left: inherit;
        background: transparent;
        width: 150px;
        height: 75px;
        border: solid 2px white;
        border-radius: 36px;
        color: white;
        font-size: 28px;
        margin-left: 20px;
        box-shadow: inherit;
    }
    .or,
    .turn-on-location {
        display: none;
    }
    .use-location-link {
        display: inherit;
        margin-top: 20px;
        margin-bottom: 5%;
    }
    .use-location-link a {
        color: white;
        font-size: 24px;
    }

    .main-container {
        display: flex;
        flex-direction: inherit;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    /* cards container */
    .cards-container{
        display: block;
    }
    /* the filter start here */
    .filter-container {
        display: none;
    }

    .filterbar-container {
        display: inherit;
        width: 100%;
        height: 99px;
        align-content: center;
        align-items: center;
        background-color: white;
        padding: 10px;
        padding-top: 12px;
        overflow: hidden;
        position: sticky;
        top: 0rem;
        z-index: 200;
    }

    .filterbar-container ul {
        list-style: none;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        height: 50px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .filterbar-container ul a {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        color: black;
        margin: 5px;
        text-decoration: none;
        font-size: 18px;
    }

    .filterbar {
        width: 40px;
        height: 40px;
    }
    .filterbar-main-logo {
        width: 80px;
    }

    /* the map start here */
    .map-container {
        width: 70%;
        height: 809px;
        position: sticky;
        top: 8rem;
    }
    #map {
        padding-right: 50px;
        height: 800px;
        width: 100%;
        border-radius: 10px;
    }
    .background {
        padding: 0 0 0 125px;
    }

}
@media only screen and (min-width: 1250px) {
    .bg-image {
        background-image: url('/assets/IMGS/paula-vermeulen-URjZkhqsuBk-unsplash-blur.jpg');
        height: 100vh;
    }
    .bg-text {
        padding-left: 125px;
        width: 70%;
        top: 50%;
    }
    .bg-text h1 {
        font-size: 120px;
        padding-bottom: 10px;
    }
    .bg-text p {
        font-size: 40px;

}
