
*{
    box-sizing: border-box;
    animation-duration: 0.3s;
  }
  
*:not(input) {
    margin: 0;
    padding:0;
    border: 0;
  }

.background {
    padding: 100px 0 0 0;
  }

main{
    resize: both;
    overflow: scroll;
  }

.truckName h2{
    padding-top: 80px;
    font-size: 25px
  }

.settingCard{
    border: 1px solid gray;
    margin: 5px;
    padding: 10px
}

.priceCategory {
    display: flex;
}

.descriptionArea{
    resize: none;
    border: 1px solid gainsboro;
}

.itemCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 270px;
    height: 350px;
    margin-bottom: 70px;
  }

  .itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .itemImg {
    height: 200px;
    width: 3rem ;
  }

  .container {
    padding: 2px 16px;
  }

  .plusBtn {
    background-color: #06B7F9;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.2rem;
  }
  
  .minusBtn {
    background-color: #FF0000;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.2rem;
  }

  .itemform {
    display: flex;
    justify-content: space-between;
  } 
  
  .iteminfo {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .itemseparator{
    border: 0.5px solid black;
  }

  .itemName {
    font-size: 18px;
    font-weight: lighter;
    padding-top: 5px;
  }
  
  .itemPrice {
    font-size: 28px;
  }
  
  .itemform{
    padding-top: 20px;
  }
  
  .plusMinus {
    display: flex;
  }
  
  .plusMinus p{
    padding-top: 9px;
  } 

  .addToBag {
    background-color: #06B7F9;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
  }




  @media only screen and (min-width: 1024px) {

    .background {
        padding: 0 0 0 125px;
      }


  }

