* {
    box-sizing: border-box;
    animation-duration: 0.3s;
    font-family: "Roboto Slab", serif;
}

main p {
    font-size: 18px;
}

*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
    color: #010101;
}

h4 {
    margin-top: 45px;
}

h3, h4 {
    font-size: 36px;
    margin-left: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}


.background {
    padding-top: 100px;
}

main {
    resize: both;
    overflow: scroll;
}


.settingCard {
    border: 1px solid lightgray;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    width: 70%;
    margin: 30px auto 40px auto;
    max-width: 460px;
}

.descriptionArea {
    resize: none;
    border: 1px solid gainsboro;
    display: block;
    width: 100%;
    max-width: 276px;
}

.itemList {
    margin: 13px;
}

.itemCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 270px;
    height: 350px;
    margin: 0 auto;
    border-radius: 2px;
}

.itemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.itemImg {
    height: 200px;
    width: 3rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.container {
    padding: 2px 16px;
}

.editBtn {
    background-color: #06b7f9;
    border: none;
    color: white;
    border-radius: 5%;
    font-size: 15px;
    height: 2rem;
    width: 6rem;
    line-height: 1.2rem;
}

.deleteBtn {
    background-color: #ff0000;
    border: none;
    color: white;
    border-radius: 5%;
    font-size: 15px;
    height: 2rem;
    width: 6rem;
}

.iteminfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.itemseparator {
    border: 0.5px solid black;
}

.itemName {
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.itemPrice {
    display: block;
}

.itemPrice-card {
    font-size: 30px;

}


.itemform {
    padding-top: 20px;
}

.settingBtn {
    display: flex;
    justify-content: space-between;
}

.settingBtn p {
    padding-top: 9px;
}

.settingCard input[type='submit'] {
    display: block;
    width: 94%;
    margin: 20px auto;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    background-color: #02CB24;
    padding: 5px;
    color: white;
}

.upload {
    margin-top: 5px;
}

#item-price {
    width: 80px;
}

.settingCard label {
    margin-top: 10px;
    margin-left: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media only screen and (min-width: 1024px) {
    .background {
        padding-top: 0px;
        /* padding: 100px 0 0 0; */
        margin-left: 124px;
    }

    main {
        display: flex;
    }

    section {
        width: 75%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        justify-content: center;
    }

    .mainquery {
        padding-left: 30px;
        padding-top: 62px;
    }

    .truckName h1 {
        font-size: 25px;
        padding-top: 40px;
    }

    .truckName h2 {
        padding-top: 80px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .settingCard {
        padding: 15px;
        width: 100%;

    }
}
