* {
    box-sizing: border-box;
}


*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
}

.reviewBox {
    display: flex;
}
.reviewBox{
    margin: 0 auto;
}


.formReview {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    line-height: 3em;
    overflow: scroll;
    padding: 5px;
    background-color: #fcfcfc;
    color: black;
    scrollbar-base-color: gray;
}

.userInfo{
    display: flex;
}


.userInfo p{ 
    padding-left: 5px;
}


.userNameInBox{
    font-weight: bold;
}


.separator {
    border: 1px solid black;
    margin: 20px;
}


form {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    margin: 20px;
}

form textarea {
    border: 1px solid black;
    resize: none;
    width: 300px;
}


@media only screen and (min-width: 1024px) {


.scrollBoxReview {
    width: 400px;

}

section h1 {
    padding: 20px;
}

}