* {
    box-sizing: border-box;
}


*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
}

.reviewBox {
    display: flex;
}
.reviewBox{
    width: 900px;
    margin: auto;
    padding-top: 130px
}

.scrollBoxReview {
   margin: 20px;
}

h1, h3, .userNameInBox, input {
    font-family: 'Raleway', sans-serif;

}
 
.reviewList {
    width: 400px;
    height: 300px;
    line-height: 3vh;
    overflow: scroll;
}

.formReview {
    width: 400px;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    scrollbar-base-color: gray;
    border: 1px solid gainsboro
}

.userInfo{
    display: flex;
}


.userInfo p{ 
    padding-left: 5px;
}


.userNameInBox{
    font-weight: bold;
}

.userReview{
    font-family: 'Roboto Slab', serif;
}

.dateReview {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    padding-top: 2px
}


.separator {
    border: 1px solid black;
    margin: 20px;
}

.review{
    margin: 20px;
}


.formbox {
    -webkit-box-shadow: 0px -1px 29px 5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px -1px 29px 5px rgba(0,0,0,0.12);
    box-shadow: 0px -1px 29px 5px rgba(0,0,0,0.12);
    width: 400px;
    height: 300px;
}


form {
    padding: 20px;
    padding-top: 40px;
    margin: 20px;
}

form h3 {
    font-size: 13px;
    width: 150px;
}

form textarea {
    border: 1px solid  black;
    resize: none;
    width: 300px;
}

.ratingReview {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.starlogo{
    width: 30px;
    height: 30px;
}

.bottomComment{
    margin: auto;
}

.ratingReview input {
    width: 8rem;
    height: 1.7rem ;
    background-color: #06b7f9;
    color: white;
    border: none;
    border-radius: 5%;
    font-size: 15px;
}

@media only screen and (min-width: 1024px) {


.scrollBoxReview {
    width: 400px;

}        

}