* {
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

.main {
    padding-top: 100px;
    color: #010101;
}

.main-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-left: 25px;
}

#helper {
    color: red;
    font-size: 20px;
    text-align: right;
    margin: 10px auto;
    min-width: 280px;
    max-width: 300px;
}

#img-helper {
    position: relative;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 10px;
}

#img-helper-text {
    display: block;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 5px;
    text-align: center;
    background-color: #06b7f9;
    color: white;
    position: absolute;
}

.edit-form {
    width: 55%;
    margin: auto;
    min-width: 280px;
}

.edit-form label {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    min-width: 280px;
    max-width: 300px;
}

.edit-form input[type='number'] {
    margin-left: 10px;
}


.edit-form input:not([type='number']):not([type='submit']), .edit-form textarea {
    margin-top: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
}

.edit-form input[type='submit'] {
    display: block;
    width: 80%;
    margin: 40px auto;
    box-shadow: 0px 3px 6px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    background-color: #02CB24;
    padding: 5px;
    color: white;
    min-width: 280px;
    max-width: 360px;
}

.edit-form textarea {
    height: 150px;

    resize: none;
    border: 1px solid #CCCBCB;
}

@media only screen and (min-width: 1024px) {

    .main {
        margin-left: 124px;
        padding-top: 62px;
    }

    .main-title {
        margin-left: 55px;
    }
}
