* {
    box-sizing: border-box;
}

*:not(input) {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* SIDEBAR */

.sidebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white;
    background-color: #010101;
    position: fixed;
}

.sidebar-items-img, .sidebar-logo-img {
    width: 60px;
    height: 60px;
}

.side-mobile-pic {
    color: white;
    margin-left: 2rem;
}

.side-mobile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dropdown {
    margin-right: 2rem;
}

.btn-secondary:hover {
    color: inherit;
}

.dropdown-menu {
    transform: translate3d(-50%, 47px, 0px) !important;
    width: 22rem;
    border-radius: 0px;
}

.dropdown-icon {
    width: 40px;
    height: 40px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-sign {
    width: 230px;
    margin-top: 25px;
    margin-left: 23px;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    background-color: #06B7F9;
}

.dropdown-log {
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 23px;
    border-radius: 3px;
    text-align: center;
    height: 35px;
    border: 1px solid black;
}


.dropdown-item:focus, .dropdown-item:hover {
    background-color: inherit;
}


/* SIDEBAR LOGO */

.sidebar-logo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SIDEBAR ITEMS */

.sidebar-items {
    display: none;
}


.sidebar-items li {
    display: inline-block;
}

.sidebar-items a {
    list-style: none;
    display: flex;
    width: 100px;
    text-decoration: none;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media only screen and (min-width: 1024px) {

    .sidebar {
        height: 100vh;
        width: 125px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #fcfcfc;
    }

    .sidebar-logo{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .side-mobile-pic {
        display: none;
    }

    .side-mobile-ham {
        display: none;
    }

    .sidebar-items {
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid #fcfcfc;
    }

    .sidebar-items ul {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    .dropdown-menu, .dropdown {
        display: none;
    }
}
