/* ! GLOBAL RESETS */

* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

*:not(input) {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ! END RESETS */

/* ** GLOBAL STYLING ** */

* {
    font-family: 'Roboto Slab', 'serif';
}

/* ** END GLOBAL STYLING ** */

/* ** BODY STYLING ** */

/* ? Main Styling */
main {
    padding-top: 50px;
    margin-left: 50px;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

#main-title {
    padding-left: 100px;
    padding-bottom: 50px;
}

#main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-left: 25px;
}

#left-side {
    margin-left: 150px;
}

form {
    width: 90%;
    /* border: 1px solid black; */
}

/* Search form styling */
#searchForm {
    margin-top: 30px;
}

fieldset {
    padding: 10px 10px 10px 0px;
}

input:not([type='radio']):not([type='submit']) {
    border-radius: 2px;
    border: 1px solid #333333;
}

input[type='radio'] {
    margin-right: 5px;
}

#orderInput {
    margin-left: 110px;
}

#dateInput {
    margin-left: 75px;
    display: inline;
}

#businessInput {
    width: 200px;
}

/* input[type='tel'] {
    width: 160px;
} */

/* label[for='typeSearch'] {
    display: inline-block;
    width: 100px;
} */

#searchForm-search,
#searchForm-showall,
#searchForm-showall input,
#searchFormMobile-search,
#searchFormMobile-showall input {
    margin-top: 10px;
    width: 190px;
    padding: 5px;
    margin-right: 20px;
    background-color: #06b7f9;
    color: white;
    -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.desktop-btn {
    width: 100%;
}

input[type='date'] {
    width: 173px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

/* #table {
    width: 80%;
} */

table {
    /* margin: auto; */
    margin-top: 30px;
    padding-top: 20px;
    border-collapse: collapse;
    margin-bottom: 50px;
    width: 500px;
}

.table-head {
    text-align: center;
    margin-bottom: 20px;
}

.table-content {
    text-align: center;
}

td {
    padding: 15px 0px;
    text-align: center;
}

tr {
    border: 1px solid black;
}

.view-details,
.accept-order {
    display: inline-block;
    width: 100px;
    padding: 5px;
    background-color: #06b7f9;
    color: white;
    -webkit-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.green_truck {
    width: 600px;
    margin: 50px;
}

/* !!!!! MEDIA QUERIES !!!!! */

@media only screen and (max-width: 1024px) {
    #left-side {
        margin-left: 0;
    }

    .green_truck {
        width: 350px;
        margin-top: 100px;
    }
}

@media only screen and (min-width: 360px) and (max-width:768px) {
    #main-title {
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 75px;
        margin: 0;
        font-size: 18px;
    }

    form {
        margin: auto;
    }

    .green_truck {
        display: none;
    }
}