.background {
    padding: 60px 0 0 0;
    min-height: 100vh;
  }

.void{
    text-align: center;
    margin-top: 45vh;
    position: absolute;
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    .background {
        padding: 0 0 0 125px;
    }
  }